<!DOCTYPE html>
<html ng-app="VelibWebApp">
	<head>
		<script src="http://code.angularjs.org/1.2.0rc1/angular.js"></script>
		<script src="http://code.angularjs.org/1.2.0rc1/angular-resource.min.js"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
		<script src="http://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
		
		<link href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" rel="stylesheet">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
		<script src="javascripts/app.js"></script>
		<script src="javascripts/controllers/velibController.js"></script>
		<script src="javascripts/controllers/appController.js"></script>
		<script src="javascripts/controllers/mapController.js"></script>
		<script src="javascripts/controllers/geoController.js"></script>
		 <link rel='stylesheet' href='/stylesheets/style.css' />
	
		 <title><%= title %></title>
	</head>
	<body ng-controller="AppCtrl">
		<div class="wrap" ng-controller="GeoCtrl">
			<!-- Fixed navbar -->
      <div class="header navbar navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
						<a class="navbar-brand" href="#"><%= title %></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class=""><a href="#">Home</a></li>
              <li><a href="http://github.com/juniorjoanis" target="_blank" >github</a></li>
            </ul>
						<ul class="nav navbar-nav navbar-right" ng-controller="VelibCtrl">
							<li>
								<a>	<img src="/images/loading2.gif" alt="loading"  ng-show="loading" /></a>
							</li>
				    </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

		<div ng-controller="mapCtrl">
			<button class="btn btn-default hidden"  ng-click="removeMarkers()" ><i class="icon-remove"></i> remove markers</button>
	
			<leaflet defaults="defaults" markers="markers" center="center" height="1000px" width="100%"></leaflet>
		</div>		
	
		<div id="footer" ng-controller="VelibCtrl">
      <div class="container">
				<div class="row">
				  <div class="col-md-11">
				  	<p class="text-muted credit">Angularjs + Nodejs experience by <a href="http://twitter.com/juniorjoanis" target="_blank">Junior Joanis</a></p>
				  </div>
				  <div class="col-md-1">
						<!-- <p class="loading" ng-show="loading">
				  		<img src="/images/loading2.gif" alt="loading"/>
						</p> -->
				  </div>
				</div>
      </div>
    </div>
			</div>
		
	</body>
</html>